 @charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'source_sans_prolight';
	src: url('fonts/sourcesanspro-light-webfont.eot');
	src: url('fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sourcesanspro-light-webfont.woff') format('woff'), url('fonts/sourcesanspro-light-webfont.ttf') format('truetype'), url('fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'source_sans_proextralight';
	src: url('fonts/sourcesanspro-extralight-webfont.eot');
	src: url('fonts/sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sourcesanspro-extralight-webfont.woff') format('woff'), url('fonts/sourcesanspro-extralight-webfont.ttf') format('truetype'), url('fonts/sourcesanspro-extralight-webfont.svg#source_sans_proextralight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'source_sans_proregular';
	src: url('fonts/sourcesanspro-regular-webfont.eot');
	src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sourcesanspro-regular-webfont.woff') format('woff'), url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'), url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'source_sans_prosemibold';
	src: url('fonts/sourcesanspro-semibold-webfont.eot');
	src: url('fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sourcesanspro-semibold-webfont.woff') format('woff'), url('fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'), url('fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'source_sans_probold';
	src: url('fonts/sourcesanspro-bold.eot');
	src: url('fonts/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'), url('fonts/sourcesanspro-bold.woff') format('woff'), url('fonts/sourcesanspro-bold.ttf') format('truetype'), url('fonts/sourcesanspro-bold.svg#source_sans_probold') format('svg');
	font-weight: normal;
	font-style: normal;
}
header{border-top: 13px solid #e95436;}
header img{margin: 8px 0px 16px 0px;}
#grad{
    height: 25px;
    background: -webkit-linear-gradient(#cac9ca, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#cac9ca, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#cac9ca, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#cac9ca, white); /* Standard syntax (must be last) */}
.navbar-nav a {
	font-family: 'source_sans_probold'; 
	color: #5e350d;
	font-size: 18px;}
body p{
	color: #786c50;
	font-family: 'source_sans_proregular';
	font-size: 18px; }
body h4{
	color: #45350f;
	font-size: 18px;
	font-family: 'source_sans_probold'; }
.container{
	max-width: 942px;
	width: 100%;
	margin: auto;padding: 0px;}
section li{float: left;margin: 13px;list-style-type: none;}
#profilemenu a{
	font-family: 'source_sans_probold';
    text-decoration: none !important;;
	color: #5e350d;
	font-size: 17px;}
#firstsection{border-top: 5px solid #fab518;border-bottom: 3px solid #fab518;}
#firstsection h3{font-family: 'source_sans_probold'; font-size: 36px;color: #5e350d}
#firstsection h4{font-family: 'source_sans_probold'; font-size: 18px;color: #45350f}
#firstsection img{float: right;
	margin-top: 22px;}
#title{color: #45350f;font-size: 30px;font-family: 'source_sans_prosemibold'; }
#map{background: url("../images/map.png") no-repeat 0px 4px;
	color: #db9753;
	padding-left: 20px;
	font-size: 19px;
	font-family: 'source_sans_probold';}
.secondsection{border-bottom: 3px solid #fab518;margin-top: 36px;}
.secondsection h3{font-family: 'source_sans_probold'; font-size: 30px;color: #5e350d}
.thirdsection h3{font-family: 'source_sans_probold'; font-size: 30px;color: #5e350d}
.secondsection img{float: right;
	margin-top: 22px;}
.thirdsection{border-bottom: 3px solid #fab518;}
.thirdsection h4{margin-top:36px;}
.thirdsection img{float: right;margin-top: 36px;}
.lastsection{border-bottom: 1px solid #fab518;margin-top: 36px;}
.lastsection img{float: right;}
footer{border-top: 15px solid #e95436;margin-top: 50px;}
.navbar-nav{margin-top: 30px;}
.footernav{
	list-style-type: none;
	margin-left: 70px;
	margin-top: 30px;
	padding-left: 0;
	}
footer ul li { display: inline;padding: 15px;}
.footernav a {
	font-family: 'source_sans_prolight';
	font-size: 24px;
	color: #786c50; 
	text-decoration: none !important;
}
#footerimages{padding: 36px 0px 0px 115px;}
#profilemenu{float: right;display: inline;}
#doller{float: right;
	margin: 36px -58px 15px 49px;
	color: #473610;
	font-size: 24px;
	font-family: 'source_sans_prosemibold'}
#date{color: #473610;font-family: 'source_sans_proregular';font-size: 20px; }
#para{color: #786c50;
	font-family: 'source_sans_proregular';
	font-size: 20px;}
/***********css for login page***************/
#login{color: #5e350d;
	font-family: 'source_sans_prolight';
	font-size: 48px;
	border-bottom: 5px solid #fab518;
	padding-bottom: 5px;
	margin: 35px auto;
}
.socialacc{
	font-family: 'source_sans_probold';
	font-size: 20px;
	color: #5e350d;
	line-height: 11px;}
.input-group input{width: 260px;}
#loginform{max-width: 260px;width: 100%;}
.loginform .form-control {
	width: 260px;
	height: 38px;
	font-size: 14px;
	color: #3f8092;
	border: 1px solid #fab518;
	border-radius: 0px;
}
.loginform1{margin-top: 25px;}
.loginform{margin: 0 auto;
	border: 5px solid #e2ac10;
	padding: 0px 30px 0px 50px;
	border-radius: 10px;
	max-width: 728px;
	height: 445px;
	margin-top: 35px;}
.loginform .control-label {
	font-family: 'source_sans_probold';
	font-size: 20px;
	color: #5e350d;
	text-align: left;
}
.loginform .btn-warning {
	color: #5e350d; 
	font-size: 20px;font-family: 'source_sans_probold';
	width: 120px;
	border-radius: 10px;
	background: #ecbc39;
	outline: none;
}



