<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /


RewriteRule ^(cfg)($|/) - [L]
RewriteRule ^(css)($|/) - [L]
RewriteRule ^(font-awesome)($|/) - [L]
RewriteRule ^(fonts)($|/) - [L]
RewriteRule ^(img)($|/) - [L]
RewriteRule ^(js)($|/) - [L]
RewriteRule ^(sdk)($|/) - [L]
RewriteRule ^(lib)($|/) - [L]


#Site Settings

RewriteRule ^checkout logout.php
RewriteRule ^loginwithtwitter twitter-login.php
RewriteRule ^myaccount my-account.php
RewriteRule ^updateInfo update-info.php
RewriteRule ^gigDetails/([^/]*)/([^/]*)$ detailed-gig.php?gigId=$2 [L]
RewriteRule ^gigsters gigster-list.php
RewriteRule ^gigsterInfo/([^/]*)/([^/]*)$ user-account.php?pId=$2 [L]
RewriteRule ^acceptGig/([^/]*)/([^/]*)$ accept-gig.php?gigId=$1&userId=$2 [L]
RewriteRule ^allgigs/([^/]*)$ giglist.php?page=$1 [L]
RewriteRule ^allgigs giglist.php
RewriteRule ^saveGig save-gig.php
RewriteRule ^submitproposal submit-proposal.php
RewriteRule ^mygigs my-gigs.php
RewriteRule ^assignments my-gigs-assigned.php
RewriteRule ^inprogress my-gigs.php
RewriteRule ^bidding gigs-bidding.php
RewriteRule ^completed gigs-completed.php
RewriteRule ^sendterms terms-sending.php
RewriteRule ^finalterms final-terms.php
RewriteRule ^rejectterms reject-terms.php
RewriteRule ^sendmessage send-message.php
RewriteRule ^inbox user-inbox.php
</IfModule>
