<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /gigster2/
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]


RewriteRule ^(cfg)($|/) - [L]
RewriteRule ^(css)($|/) - [L]
RewriteRule ^(font-awesome)($|/) - [L]
RewriteRule ^(fonts)($|/) - [L]
RewriteRule ^(img)($|/) - [L]
RewriteRule ^(js)($|/) - [L]
RewriteRule ^(sdk)($|/) - [L]
RewriteRule ^(lib)($|/) - [L]


###Site Settings
#
RewriteRule ^checkLogin check-login.php
RewriteRule ^messagethreads threaded-messaging.php
#RewriteRule ^messagethreads/([^/]*)$ threaded-messaging.php?userId=$1 [L]
RewriteRule ^checkout logout.php
RewriteRule ^loginwithtwitter twitter-login.php
RewriteRule ^loginwithtlinkedin linkLogin.php
RewriteRule ^myaccount my-account.php
RewriteRule ^updateInfo update-info.php
RewriteRule ^gigDetails/([^/]*)/([^/]*)$ detailed-gig.php?gigId=$2 [L]
RewriteRule ^gigsters gigster-list.php
RewriteRule ^gigsterInfo/([^/]*)/([^/]*)$ user-account.php?pId=$2 [L]
RewriteRule ^acceptGig/([^/]*)/([^/]*)$ accept-gig.php?gigId=$1&userId=$2 [L]
RewriteRule ^allgigs/([^/]*)$ giglist.php?page=$1 [L]
RewriteRule ^bidding/([^/]*)$ gigs-bidding.php?page=$1 [L]
RewriteRule ^allgigs giglist.php
RewriteRule ^saveGig save-gig.php
RewriteRule ^submitproposal submit-proposal.php
RewriteRule ^mygigs my-gigs.php
RewriteRule ^assignments my-gigs-assigned.php
RewriteRule ^inprogress my-gigs.php
RewriteRule ^bidding gigs-bidding.php
RewriteRule ^completed gigs-completed.php
RewriteRule ^sendterms terms-sending.php
RewriteRule ^finalterms final-terms.php
RewriteRule ^rejectterms reject-terms.php
RewriteRule ^sendmessage send-message.php
RewriteRule ^inbox user-inbox.php
RewriteRule ^bided user-bided.php
RewriteRule ^tocompleted user-completed.php
RewriteRule ^sendreport report-sending.php
RewriteRule ^finalrating rate-user.php
RewriteRule ^aboutus about-us.php
RewriteRule ^contactus contact-us.php
RewriteRule ^searchgig search-gig.php
RewriteRule ^isfeatured/([^/]*)/([^/]*)$ is-featured.php?reportId=$1&action=$2 [L]
RewriteRule ^approvereport/([^/]*)$ report-approval.php?reportId=$1 [L]
RewriteRule ^delthread/([^/]*)$ remove-thread.php?delId=$1
RewriteRule ^markascomplete/([^/]*)$ mark-as-complete.php?prjId=$1
RewriteRule ^mailcontact mail-sending.php
RewriteRule ^loginwithgoogle login-with-google.php
</IfModule>
