@charset "utf-8";
/* CSS Document */
.mhidden {
	display: none;
}
.mtextarea {
	font-size: 14px;
	
	height: 250px;
}
.m_textarea {
	font-size: 14px;
	
	height: 250px;
}
.mandatory{
	color:red;
}
.container .myrow{ border-bottom:3px solid #fab518; border-top:5px solid #fab518; margin-left:0; margin-right:0;}

.myquote{
	font-weight:bold;
	font-size:16px;
}
.fa-circle{
	font-size:11px !important;
	
}
#gigpara{
	width:750px;
	overflow:hidden;
}
#gigstertable tr td{
	width:50% !important;
}
.mclass{

min-height:1000px;
}
