@charset "utf-8";
/* CSS Document */
.mhidden {
	display: none;
}
.mtextarea {
	font-size: 18px;
	font-weight: normal !important;
	height: 250px;
}
.m_textarea {
	font-size: 18px;
	font-weight: normal !important;
	height: 250px;
}
.mandatory{
	color:red;
}